<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Euro Tech, PG 1000" />
    <meta name="description" content="PG 1000 Cutting Tool Inspection System by Euro Tech" />
    <meta name="author" content="PG 1000" />
    <meta name="copyright" content="Copyright © 2012" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta name="rating" content="general" />
    <meta name="expires" content="never" />
    <meta name="distribution" content="global" /><meta name="robots" content="index,follow" /><meta name="revisit-after" content="15 days" />
    
    <title>Mike Zazaian | {{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" media="all" href="css/primary.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/resume.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.lightbox-0.5.css" media="screen" />

    <script type="text/javascript" src="js/jquery-1.7.1.min.js" ></script>
    <script type="text/javascript" src="js/taglines.js" ></script>
    <script type="text/javascript" src="js/application.js" ></script>

	  <link rel="stylesheet" type="text/css" href="../style-projects-jquery.css" />    
    

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Cabin|Ubuntu|Cantarell|Open+Sans|Nobile|Telex|Alegreya|Amethysta|Esteban' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <img id="logo" src="/images/mz-logo.png" />
        <a id="title" href="./">{ Mike Zazaian }</a>
      </div>

      <div class="clear"></div>


      <img id="mz-photo" src="/images/mz-photo.jpg" />

      <div id="hello">
        Hi there, my name is <strong>Mike Zazaian</strong>.  I'm a software developer, ui/graphic designer, project manager, writer, musician, DJ, and unabashed foodie.  Take a look at my <a href="./resume.html">resume</a> or check out my <a href="./portfolio.html">design portfolio</a> to see some of my projects..
      </div>

      <div id="content">
        {{ content }}
      </div>

      <div class="clear"></div>
	  </div>


  </body>
</html>
